* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 1.618;
}

:root {
  --white: #fff;
  --dark-grey-task: #333;
  --footer-elem-black: rgba(15, 15, 15, 0.925);
  --border-radius: 20px;
}

body {
  overflow: hidden;
}

/* BEGIN Prevent highlighting of elements on double click */
* {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

path {
  pointer-events: none;
}
/* END */

.container {
  height: 100vh;
  border: solid;
  position: relative;
}

.container .image-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  z-index: -1;
  filter: brightness(75%);
  opacity: 0.9;
  background-color: #333;
}

.container .app-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container .image-container,
.container .app-container {
  animation: load-container 1.2s ease-in-out;
}

/* Delete this if it looks too tacky */
@keyframes load-container {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container .app-container header,
.container .app-container footer {
  height: auto;
  max-height: 1300px;
  /* border: solid; */
}

.container .app-container .center-content {
  height: 80vh;
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container .app-container .center-content .center-media {
  grid-row: 2;
  grid-column: 1 / span 3;
  grid-row: 2 / span 2;
}

.container .app-container .center-content .center-media .youtube-stream {
  height: 300px;
  width: 400px;
  max-height: 350px;
  max-width: 450px;
  border-radius: var(--border-radius);
  padding: 0.5rem;
  background: slategrey;
  border: solid slategrey 5px;

  transition: all 0.5s ease-in;
}

.container .app-container .center-content .center-media .youtube-stream:hover {
  height: 350px;
  width: 450px;
}

.container .app-container .center-content h3 {
  color: var(--white);
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: 5px;
  grid-column: 1 / span 2;
}

/* Begin footer styling */

.container .app-container footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0 1rem;
  height: 20vh;
  min-height: 10vh;
}

.container .app-container footer .tasks,
.container .app-container footer .settings-container {
  padding-bottom: 1.2rem;
}

.container .app-container footer .tasks {
  height: 100%;
  width: 20vw;
  justify-content: flex-end;
  flex-direction: column;
}

.container .app-container footer .tasks .task-toggle {
  color: var(--white);
  font-weight: 400;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.5s ease;
}
.container .app-container footer .tasks .task-toggle:hover {
  transform: scale(1.25);
  letter-spacing: 2px;
  filter: brightness(80%);
}

/* By default, the tasks-container is hidden until the user clicks on the 'task' header  */
.container .app-container footer .tasks-container {
  height: auto;
  max-height: 1300px;
  max-width: 1860px;
  min-width: 200px;
  padding: 1rem;
  margin-right: 1rem;
  opacity: 0.9;
  border-radius: var(--border-radius);
  background: var(--footer-elem-black);
  flex-direction: column;
  justify-content: center;
  text-align: center;
  display: none;
  /* min-height: 10vh; */
  /* overflow: auto; */
}

.container .app-container footer .active {
  display: flex;
  animation: tasks-container 0.2s ease-in-out;
  padding: 21px;
}

@keyframes tasks-container {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.9;
  }
}

.container .app-container footer .tasks-container ul {
  overflow-x: hidden;
  overflow-y: auto;
}

.container .app-container footer .tasks-container ul,
.container .app-container footer .tasks-container ul li {
  list-style: none;
}

.container .app-container footer .tasks-container ul li .task-icon {
  color: var(--white);
  margin: 0 3px;
  opacity: 0;
}

.container .app-container footer .tasks-container ul li:hover .task-icon {
  opacity: 1;
  cursor: pointer;
}

.container .app-container footer .tasks-container ul li input[type='text'] {
  width: 100%;
  padding-left: 0.5rem;
  /* padding: 7px 21px 18px 21px; */
  /* padding: 7px 10px 10px 5px; */
  height: 25px;
  font-size: 1rem;
  /* border: solid 1px var(--white); */
  color: var(--white);
  background: transparent;
  border: none;
}

.container .app-container footer .tasks-container ul li .task-title {
  /* margin-left: 0.5rem; */
  margin: 0 0.5rem;
  font-weight: 300;
  color: var(--white);
}

.container .app-container footer .tasks-container ul li input:focus {
  outline: none;
}

/* .container .app-container footer .tasks-container ul .task-input-container {
  padding: 7px 21px 18px 21px;
} */

/* 7px 21px 18px 21px; */

.container .app-container footer .tasks-container .tasks-container-top {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  text-align: left;
  justify-content: left;
}

.container
  .app-container
  footer
  .tasks-container
  .tasks-container-top
  .task-icon {
  color: var(--white);
  cursor: pointer;
  margin: 0 0.5rem;
  opacity: 0;
}

.container
  .app-container
  footer
  .tasks-container
  .tasks-container-top:hover
  .task-icon {
  opacity: 1;
}

.container .app-container footer .tasks-container .tasks-container-top h4 {
  color: var(--white);
  font-weight: 300;
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

.container .app-container footer .settings-container {
  height: 100%;
  width: 20vw;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
}

.container .app-container footer .settings-container .settings-icon {
  transition: all 0.5s ease;
  color: var(--white);
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
}

.container .app-container footer .settings-container .settings-icon:hover {
  transform: scale(1.4);
  filter: brightness(80%);
}

@media (max-width: 600px) {
  .container .app-container .center-content {
    height: 80vh;
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .container .app-container .center-content .center-media {
  }

  .container .app-container .center-content .center-media .youtube-stream {
    height: 220px;
    width: 200px;

    max-height: 250px;
    max-width: 200px;

    transition: all 1s ease;
    /* src: url('https://www.youtube.com/embed/5qap5aO4i9A?autoplay=0'); */
    /* border-radius: 20px;
    padding: 0.5rem;
    background: slategrey;
    border: solid slategrey 1px; */
  }

  .container .app-container .center-content h3 {
    color: #fff;
    font-size: 3rem;
    /* font-weight: 600; */
    letter-spacing: 5px;
    grid-column: 1 / span 2;
  }
}
