* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 1.618;
}

:root {
  --white-text: #fff;
  --dark-grey-task: #333;
}

body {
  /* background: url("https://picsum.photos/1920/1080"); */
  overflow: hidden;
}

.container {
  height: 100vh;
  border: solid;
  position: relative;
}

.container::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* background: url('https://picsum.photos/1920/1080/?blur=1') no-repeat center
    center/cover; */

  background: url('https://source.unsplash.com/random/?dark') no-repeat center
    center/cover;

  z-index: -1;
  filter: brightness(80%);
  opacity: 0.9;
  background-color: #333;
}

.container .app-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container .app-container header,
footer {
  height: 10vh;
  max-height: 10vh;
  border: solid;
}

.container .app-container .center-content {
  height: 80vh;
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container .app-container .center-content .center-media {
  grid-row: 2;
  grid-column: 1 / span 3;
  grid-row: 2 / span 2;
}

.container .app-container .center-content .center-media .youtube-stream {
  height: 300px;
  width: 400px;
  max-height: 350px;
  max-width: 450px;
  border-radius: 20px;
  padding: 0.5rem;
  background: slategrey;
  border: solid slategrey 5px;

  transition: all 0.5s ease-in;
}

.container .app-container .center-content .center-media .youtube-stream:hover {
  height: 350px;
  width: 450px;
}

.container .app-container .center-content h3 {
  color: var(--white-text);
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: 5px;
  grid-column: 1 / span 2;
}

.container .app-container footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0 1rem;
}

.container .app-container footer .task-container {
  height: 100%;
  width: 20vw;
  justify-content: flex-end;
}

.container .app-container footer .task-container .task-toggle {
  color: var(--white-text);
  font-weight: 400;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.5s ease;
}
.container .app-container footer .task-container .task-toggle:hover {
  transform: scale(1.25);
  letter-spacing: 2px;
  filter: brightness(80%);
}

.container .app-container footer .task-toggle .active {
  height: auto;
  width: 350px;
  background: #333;
}

.container .app-container footer .settings-container {
  height: 100%;
  width: 20vw;
  justify-content: flex-start;
}

.container .app-container footer .settings-container .settings-icon {
  transition: all 0.5s ease;
  color: var(--white-text);
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
}

.container .app-container footer .settings-container .settings-icon:hover {
  transform: scale(1.4);
  filter: brightness(80%);
}

@media (max-width: 600px) {
  .container .app-container .center-content {
    height: 80vh;
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .container .app-container .center-content .center-media {
  }

  .container .app-container .center-content .center-media .youtube-stream {
    height: 220px;
    width: 200px;

    max-height: 250px;
    max-width: 200px;

    transition: all 1s ease;
    /* src: url('https://www.youtube.com/embed/5qap5aO4i9A?autoplay=0'); */
    /* border-radius: 20px;
    padding: 0.5rem;
    background: slategrey;
    border: solid slategrey 1px; */
  }

  .container .app-container .center-content h3 {
    color: #fff;
    font-size: 3rem;
    /* font-weight: 600; */
    letter-spacing: 5px;
    grid-column: 1 / span 2;
  }
}
