/* Store utility classes here */

.grid-element {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Used by the footer elements */
.flex-container-bot {
  display: flex;
  align-items: center;
}

.flex-task {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  text-align: left;
  padding: 5px 0 3px;

  /* align-items: center; */
  /* text-align: center; */
  /* flex-wrap: wrap; */
}

.grid-task {
  display: grid;
  grid-template-columns: 1fr 10fr;
  align-items: baselind;
  justify-content: left;
}
